* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 200;
}

.app {
  margin: 50px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.select {
  $select: &;

  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    display: flex;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 12px;
    transition: 0.3s;

    &-content {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      gap: 10px;
    }

    &-search {
      flex: 1;

      &-input {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: 0.3s;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 3px;

      &-delete {
        width: 15px;
        height: 15px;
        cursor: pointer;

        svg {
          max-width: 100%;
          max-height: 100%;

          &:hover {
            fill: blue;
          }
        }

      }
    }

    &-arrow {
      width: 25px;
      height: 25px;
      transition: 0.3s;

      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: flex-end;
  }

  &__clear-all {
    width: 25px;
    height: 25px;
    cursor: pointer;

    svg {
      max-width: 100%;
      max-height: 100%;

      &:hover {
        fill: blue;
      }
    }
  }

  &--open {
    & #{$select}__title {
      border-radius: 12px 12px 0 0;
      border-bottom: none;

      &-arrow {
        transform: scaleY(-1);
      }
    }
  }

  &--disabled {
    pointer-events: none;

    & * {
      border-color: rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.5);
    }

    & #{$select}__title {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }

  &__list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 5;
    background-color: #FFFFFF;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 0 0 12px 12px;
    max-height: 300px;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: showOptionsList 0.3s linear;
    transform-origin: top;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: #333333;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999999;
      border-radius: 2px;
    }

    scrollbar-color: #444444 #999999;
    scrollbar-width: thin;
  }

  &__item {
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
}

@keyframes showOptionsList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
