.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include glassMorphismCard;
  padding: 15px;
}

.input {
  @include glassMorphismCard;
  padding: 10px 15px;
  box-shadow: 0 0 0 1px $light_blue;
  transition: 0.3s;

  &:active, &:focus {
    box-shadow: 0 0 0 5px #{$light_blue}40;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    @include glassMorphismCard;
    padding: 15px;
  }
}

.button {
  align-self: flex-start;
  padding: 10px 25px;
  background: $violet;
  color: $white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $light_blue;
  }
}

.select {
  $select: &;

  position: relative;
  margin: 25px 0;

  &__title {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 12px;
  }

  &--open {
    & #{$select}__title {
      border-radius: 12px 12px 0 0;
      border-bottom: none;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 0 0 12px 12px;
    max-height: 300px;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: #333333;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999999;
      border-radius: 2px;
    }

    scrollbar-color: #333333 #999999;
    scrollbar-width: thin;
  }

  &__item {
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
}
